@use '../common/variables' as v;
@use '../common/mixins' as m;

/*--------------------------------info-section-----------------------*/

.info-section {
    width: 100%;
    padding-top: 137px;
    @media screen and (min-width: 524px) {
        padding: 176px 0 30px;
    }
    @media screen and (min-width: 605px) {
        padding: 245px 0 30px;
    }
    @media screen and (min-width: 944px) {
        padding: 176px 0 30px;
    }
}

.info-progresses {
    display: flex;
    flex-flow: column wrap;
    @media screen and (min-width: 860px) {
        flex-flow: row nowrap;
        justify-content: center;
        gap: 30px;
    }
    @media screen and (min-width: 1720px) {
        padding: 0 120px;
    }
}

.progresses_text {
    @media screen and (min-width: 860px) {
        max-width: 662px;
    }
    @media screen and (min-width: 1720px) {
        max-width: 945px;
    }
}

.progresses__heading {
    @media screen and (min-width: 600px) {
        @include m.font (v.$hero-size, v.$hero-height);
    }
}

.info__paragraph {
    padding: 30px 0;
    @include m.font (19px, 30px);
}

.progresses__items {
    padding-left: 30px;
    border-left: 4px solid v.$separator-color;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    justify-content: space-between;
    @media screen and (min-width: 860px) {
        height: 328px
    }
}

.progress-conteiner {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    @media screen and (min-width: 860px) {
        width: 385px
    }
}

.progress__heading {
    @include m.font (36px, 44px);
    @media screen and (min-width: 600px) {
        @include m.font (v.$hero-size, v.$hero-height);
    }
}

.progress__paragraph {
    color: v.$main-color;
    padding-top: 10px;
}



.quality-conteiner {
    @media screen and (min-width: 860px) {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 60px;
    }
    @media screen and (min-width: 1720px) {
        padding: 0 120px;
    }
}

.quality__paragraph {
    @media screen and (min-width: 860px) {
        max-width: 698px;
    } 
    @media screen and (min-width: 1720px) {
        max-width: 940px;
    }
}

.quality__heading {
    @media screen and (min-width: 600px) {
        @include m.font (v.$hero-size, v.$hero-height);
    }
    @media screen and (min-width: 860px) {
        min-width: 325px;
        max-width: 325px;
        padding-top: 30px;
    } 
}



.together {
    width: 100%;
    height: 30vw;
    margin: 30px 0 0 0;
    @media screen and (min-width: 600px) {
        margin: 60px 0 30px;
    }
}
.together__img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


.achievements {
    width: 100%;
    background-color: v.$bg-color;
    padding: 30px 0;
}

.achievements__heading {
    text-transform: uppercase;
    padding-bottom: 30px;
    text-align: center;
}

.achievements-conteiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.achievement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: v.$basic-color_white;
    border-radius: 12px;
    height: 110px;
    width: calc(100% - 30px);
    @media screen and (min-width: 768px) {
        width: calc((100% - 120px)/4);
    }
    &:not(:first-child) {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
        }
    }
}
.achievement__img {
    height: 40px;
    @media screen and (min-width: 1024px) {
        height: 60px;
    }
}